<input type="text" [(ngModel)]="title" >
{{ title }}

<div *ngIf=showValue>
    Interesting message
</div>

<div [ngSwitch]="title.toLowerCase()">
    <p *ngSwitchCase="'nicolas'" >este es Nicolas</p>
    <p *ngSwitchCase="'julian'">este es Julian</p>
    <p *ngSwitchCase="'camilo'">este es Camilo</p>
    <p *ngSwitchDefault>este es Alguien mas</p>
</div>
<button (click)="addItem('title')" >Add Name</button>

<div>
    <ul>
        <li *ngIf="items.length === 0">La lista esta vacia</li>
        <li *ngFor="let name of items index as i">
            {{name}} {{ i }}
            <button (click)="deleteItem(i)" >delete</button>
        </li>
    </ul>
</div>

<div *ngFor="let product of products">
    {{ product.title }}
    
    <img [src]="product.image" alt="" [width]="200" [height]="200">
    <span>{{ product.price }}</span>    
</div>